<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <!-- Logo icon --><strong>
          <!-- Dark Logo icon -->
          <img src="./assets/images/logito.png" alt="homepage" class="dark-logo loguitoClass" />
          <!-- Light Logo icon -->
          <img src="./assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
        </strong>
        <strong class="fontStyle">
          Community Food
        </strong>
        <!--End Logo icon -->
        <!-- Logo text --><span>
          <!-- dark Logo text -->
          <div>
          </div>
          <!-- <img src="./assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
          <!-- Light Logo text -->
          <img src="./assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
        </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
            href="javascript:void(0)"><em class="ti-menu"></em></a> </li>
        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"><em class="ti-menu"></em></a> </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <!-- ============================================================== -->
        <!-- Search -->
        <!-- ============================================================== -->
        <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"><em class="ti-search"></em></a>
          <form class="app-search" (ngSubmit)="buscar(txtTermino.value)" >
            <input type="text"   class="form-control" placeholder="Buscar..." #txtTermino>
            <a class="srh-btn">
              <em class="ti-close"></em>
            </a>
          </form>
        </li>

        <!-- ============================================================== -->
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><img [src]="usuario.imagenUrl" alt="user"
              class="profile-pic" /></a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-img"><img [src]="usuario.imagenUrl" alt="user"></div>
                  <div class="u-text">
                    <h4>{{ usuario.nombre }}</h4>
                    <p class="text-muted">
                      {{ usuario.email | slice:0:20 }}{{ (usuario.email.length > 20) ? '...': ''}}
                    </p>
                      <a href="pages-profile.html"
                      class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="perfil"><em class="ti-user"></em> My Profile</a></li>
              <li><a href="#"><em class="ti-wallet"></em> My Balance</a></li>
              <li><a href="#"><em class="ti-email"></em> Inbox</a></li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="account-settings"><em class="ti-settings"></em> Account Setting</a></li>
              <li role="separator" class="divider"></li>
              <li>
                <a (click)="logout()" class="cursor">
                  <em class="fa fa-power-off"></em> Logout
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
