<div class="row">
    <div class="col text-center" >
      <i data-toggle="tooltip"
      data-placement="top"
        (click)="shopsList()"
         title="Lista de pedidos" class="fa fa-cutlery cursorPointer" aria-hidden="true">
      </i>
    </div>
    <div class="col text-center ">
      <i (click)="pageContact()" data-toggle="tooltip" data-placement="top" title="Contacto" class="cursorPointer fa fa-phone" aria-hidden="true">
      </i>
    </div>
    <div class="col text-center" >
      <i data-toggle="tooltip" data-placement="top" title="Favoritos" class=" cursorPointer fa fa-heart" aria-hidden="true">
      </i>
    </div>
    <div class="col text-center ">
      <i data-toggle="tooltip" data-placement="top" title="Carrito de compras" class="fa fa-shopping-cart cursorPointer" aria-hidden="true">
      </i>
    </div>
</div>



